@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.z-depth-0 { box-shadow: none !important; }

.z-depth-1, .card-panel, .card, .site-header .header-badge { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.z-depth-1-half { box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }

.z-depth-2 { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.z-depth-3 { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.z-depth-4 { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.z-depth-5, .site-header .header-badge:hover { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

/*------------------- Base Style --------------------*/
* { box-sizing: border-box; }

/*making font-sizes base 10*/
html { width: 100%; box-sizing: border-box; font-size: 62.5%; background-color: #37474F; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; padding: 0; margin: 0; }

/*setting up font sizes and base font family*/
body { minheight: 100%; width: 100%; padding: 0; margin: 0; background-image: url("../assets/hero.jpg"); letter-spacing: 0.01em; line-height: 1.6; font-size: 1.5em; font-weight: 400; font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.outer { height: 100%; width: 100%; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, #37474F)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, #37474F 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, #37474F 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */ }

.card-panel { transition: box-shadow .25s; padding: 20px; margin: 10px 0 20px 0; border-radius: 2px; background-color: #fff; }

.card { margin: 10px 0 20px 0; background-color: #fff; transition: box-shadow .25s; border-radius: 2px; }
.card .card-title { font-size: 24px; font-weight: 300; }
.card .card-title.activator { cursor: pointer; }
.card.small, .card.medium, .card.large { position: relative; }
.card.small .card-image, .card.medium .card-image, .card.large .card-image { max-height: 60%; overflow: hidden; }
.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content { max-height: 40%; }
.card.small .card-content, .card.medium .card-content, .card.large .card-content { max-height: 100%; overflow: hidden; }
.card.small .card-action, .card.medium .card-action, .card.large .card-action { position: absolute; bottom: 0; left: 0; right: 0; }
.card.small { height: 300px; }
.card.medium { height: 400px; }
.card.large { height: 500px; }
.card.horizontal { display: flex; }
.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image { height: 100%; max-height: none; overflow: visible; }
.card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img { height: 100%; }
.card.horizontal .card-image { max-width: 50%; }
.card.horizontal .card-image img { max-width: 100%; width: auto; }
.card.horizontal .card-stacked { display: flex; flex-direction: column; flex: 1; position: relative; }
.card.horizontal .card-stacked .card-content { flex-grow: 1; }
.card.sticky-action .card-action { z-index: 2; }
.card.sticky-action .card-reveal { z-index: 1; padding-bottom: 64px; }
.card .card-image { position: relative; }
.card .card-image img { display: block; border-radius: 2px 2px 0 0; position: relative; left: 0; right: 0; top: 0; bottom: 0; width: 100%; }
.card .card-image .card-title { color: #fff; position: absolute; bottom: 0; left: 0; padding: 20px; }
.card .card-content { padding: 20px; border-radius: 0 0 2px 2px; }
.card .card-content p { margin: 0; color: inherit; }
.card .card-content .card-title { line-height: 48px; }
.card .card-action { position: relative; background-color: inherit; border-top: 1px solid rgba(160, 160, 160, 0.2); padding: 20px; }
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) { color: #EF6C00; margin-right: 20px; transition: color .3s ease; text-transform: uppercase; }
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover { color: #ffa256; }
.card .card-reveal { padding: 20px; position: absolute; background-color: #fff; width: 100%; overflow-y: auto; top: 100%; height: 100%; z-index: 3; display: none; }
.card .card-reveal .card-title { cursor: pointer; display: block; }

/*------------------------------------------------------------ Buttons/Components
------------------------------------------------------------*/
.btn, button, [type=submit] { overflow: hidden; margin: 10px; padding: 12px 12px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: all 60ms ease-in-out; transition: all 60ms ease-in-out; text-align: center; white-space: nowrap; text-decoration: none !important; text-transform: none; text-transform: uppercase; border: 0 none; border-radius: 4px; color: #FFFFFF; background: #EF6C00; font-family: inherit; font-weight: 500; line-height: 1.3; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.btn:hover, button:hover, [type=submit]:hover { -webkit-transition: all 60ms ease; transition: all 60ms ease; opacity: .85; }

.btn:active, button:active, [type=submit]:active { -webkit-transition: all 60ms ease; transition: all 60ms ease; -webkit-transform: scale(0.97); transform: scale(0.97); opacity: .75; }

.btn:focus, button:focus, [type=submit]:focus { outline: none; }

/* Button Outline */
.btn-outline { border: 3px solid #fff; color: #fff; background: transparent; transition: all 0.5s ease; }

.btn-outline:hover, .btn-outline:active { color: #000; background: #fff; }

.btn-outline-inverted { border: 3px solid #000; color: #000; background: transparent; transition: all 0.5s ease; }

.btn-outline-inverted:hover, .btn-outline-inverted:active { color: #fff; background: #000; }

/* Button Clear */
.btn-clear { background: transparent; color: gray; }

/*------------------------------------------------------------ Forms
------------------------------------------------------------*/
/*base form styles*/
input[type=text], select { width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; -webkit-transition: 0.5s; transition: 0.5s; outline: none; font-family: 'Open Sans'; }

/*set border on focus*/
input[type=text]:focus { border: 1px solid #99b3ff; border-radius: 4px; }

/*styling textarea*/
textarea, textarea[type=text] { font-family: 'Open Sans'; width: 100%; height: 100px; margin: 8px 0; padding: 14px 20px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 4px; resize: none; -webkit-transition: 0.5s; transition: 0.5s; outline: none; }

textarea:focus, textarea[type=text]:focus { border: 1px solid #99b3ff; border-radius: 4px; }

.container { max-width: 960px; margin: 0 auto 1.5em; width: 80%; }

/* .row */
.row { margin-top: 2.0833%; padding: 0 1.04165%; }

.row:after { display: table; clear: both; content: ''; }

/* col */
.row [class^='col-'] { float: left; min-height: 50px; margin-left: 2.083333%; }

.row [class^='col-']:first-child { margin-left: 0; }

/* .col-1 */
.row .col-1 { width: 6.42291%; }

/* .col-2 */
.row .col-2 { width: 14.930208%; }

/* .col-3 */
.row .col-3 { width: 23.4375%; }

/* .col-4 */
.row .col-4 { width: 31.94375%; }

/* .col-5 */
.row .col-5 { width: 40.25%; }

/* .col-6 */
.row .col-6 { width: 48.958333%; }

/* .col-7 */
.row .col-7 { width: 57.464583%; }

/* .col-8 */
.row .col-8 { width: 65.970833%; }

/* .col-9 */
.row .col-9 { width: 74.404166%; }

/* .col-10 */
.row .col-10 { width: 82.9833%; }

/* .col-11 */
.row .col-11 { width: 91.489583%; }

/* .col-12 */
.row .col-12 { width: 100%; }

/* 
 Mediaqueries 

*/
@media screen and (max-width: 768px) { .row { margin-top: 0; }
  .row [class^='col-'] { width: 100%; margin-top: 2.0833%; margin-left: 0; } }
/*------------------------------------------------------------ Links
------------------------------------------------------------*/
a { color: #2a92ea; }

/*------------------------------------------------------------ Lists
------------------------------------------------------------*/
ul, ol { list-style: none; }

/*------------------------------------------------------------ Misc
------------------------------------------------------------*/
code { padding: .2rem .5rem; margin: 0 .2rem; font-size: 90%; white-space: nowrap; background: #F1F1F1; border: 1px solid #E1E1E1; border-radius: 4px; }

pre > code { display: block; padding: 1rem 1.5rem; white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }

/** Syntax highlighting styles */
.highlight { background: #fff; }
.highlighter-rouge .highlight { background: #eef; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base
- Typography
- Grid
- Links
- Buttons
- Forms
- Lists
- Animations
- Utilities
- Misc
- Clear
*/
/*--------------------------------- Typography  -------------*/
h1, h2, h3, h4, h5, h6 { margin-bottom: 2rem; font-weight: 300; font-family: "Quicksand"; }

h1 { font-size: 4.0rem; line-height: 1.2; letter-spacing: -.1rem; }

h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }

h3 { font-size: 3.0rem; line-height: 1.3; letter-spacing: -.1rem; }

h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }

h5 { font-size: 1.8rem; line-height: 1.5; letter-spacing: -.05rem; }

h6 { font-size: 1.5rem; line-height: 1.6; letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) { h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; } }
  
/*---------------------------------- Utilities---------------------------------------*/
.pull-right { float: right; }

.pull-left { float: left; }

.text-center { text-align: center; }

.centered { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.full-screen { width: 100vw; height: 100vh; }

.horizontal-align { display: flex; justify-content: center; }

/*------------------- Site Style ------------------------*/
.header-bar { padding-top: 1em; padding-left: 3em; padding-right: 3em;}
.header-bar .icon { text-decoration: none; background-color: transparent; color: #fff; font-size: 1.5rem; font-weight: 300; }
.site-header { text-align: center; }
.site-header .wrapper { padding-top: 1em; padding-bottom: 2em; }
.site-header .wrapper .site-title { text-decoration: none; color: #fff; font-size: 48px; font-weight: bold; text-transform: uppercase; }
.site-header .header-badge { border-radius: 50%; border: 12px #fff solid; height: 200px; width: 200px; background: center center no-repeat #fff; background-size: 50px 50px; display: inline-block; margin-bottom: -140px; overflow: hidden; transition: 0.3s; }
.site-header .header-badge img { object-position: center; /* Center the image within the element */ height: 176px; width: 176px; border-radius: 50%; opacity: 1; transition: 0.3s; }
.site-header .header-badge:hover { transition: 0.3s; }
.site-header .header-badge:hover img { opacity: 0.7; transition: 0.3s; }

.page-content { margin: 30px auto; width: 980px; }
.page-content .top { text-align: center; padding: 120px 30px 30px; }
.page-content .top a.email { font-size: 2rem; text-decoration: none; color: #EF6C00; }
.page-content .top p.description { font-size: 2rem; text-align: center; }
.page-content .posts .card-title { color: #EF6C00; display: block; width: 100%; border-bottom: #EF6C00 solid 1px; }
.page-content .posts .post-list { margin: 0; padding: 0; }
.page-content .posts .post-list li { padding: 15px 0; border-bottom: #ddd solid 1px; }
.page-content .posts .post-list li .post-meta { float: right; color: #ccc; font-size: 14px; }
.page-content .posts .post-list li a { text-decoration: none; color: #333; font-size: 21px; }
.page-content .posts .rss-subscribe { text-align: center; margin-top: 15px; }
.page-content .posts .rss-subscribe a { text-decoration: none; color: #EF6C00; }

.post .card-content { padding: 80px 20px; }

.footer-heading { display: block; text-align: center; color: #fff; font-size: 1rem; padding-bottom: 0.5em; font-weight: 300; }

@media (max-width: 1050px) { .page-content { margin: 30px 2%; width: 96%; } }